.cardParent {
    width: 40%;
    margin: 1rem;
    background: var(--orange);
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid var(--currentText);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.slide {
    animation: SlideIn 2s;

}

.cardParent:hover {
    transform: scale(1.1) translateY(-20px);
    /* border: 3px solid var(--orange); */
    /* animation: wriggleAnim 1s ease-in-out; */
}

@keyframes SlideIn {
    0% {
        transform: scale(0.7) translateX(-100rem);
    }

    50% {
        transform: scale(1);
    }

    
}

@keyframes wriggleAnim {
    0% {
        transform: translateY(-30px)
    }
    
    100% {
        transform: translateY(-10px)
    }
}

.cardParent p {
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    width: 100%;
}

.cardParent > h3 {
    background: var(--orange);
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    padding: 5px;
}

.cardParent > img {
    width: 80%;
    height: auto;
    border-radius: 15px;
    border: 3px solid var(--currentText);

}

.cardParent > p {
    text-align: left;
    color: white;
}

.cardValText {
    font-size: .7rem;
    align-self:left;
}

@media only screen and (max-width: 900px) {
    .cardParent {
        width: 40%;
    }

    .cardValText {
        font-size: 1rem;
    }

    .cardParent:hover {
        transform: none;
        border: 3px solid var('--currentText');
        /* animation: wriggleAnim 1s ease-in-out; */
    }
}


@media only screen and (max-width: 760px) {
    .cardParent {
        width: 85%;
        animation: none;
    }

    .cardParent:hover {
        transform: none;
        border: 3px solid var('--currentText');
        /* animation: wriggleAnim 1s ease-in-out; */
    }

    .cardValText {
        font-size: 1rem;
    }
}