.contentContainer {
    width: 100vw;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: visible;
}

.clickText {
    display: flex;
    color: var(--currentBG);
    padding: 10px;
    border-radius:15px;
    background-color:var(--currentText);
}

.clickTextContainer {
    width: 90vw;
    display: flex;

}

@media only screen and (max-width: 600px) {
    .contentContainer {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
    
}