.aboutContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
    
}

.contactLink {
    cursor: pointer;
}

.contactLink:hover {
    color: lightGrey;
}

.aboutLeft {
    width: 70%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    color: lightGrey;

}

.aboutRight {
    width: 30%;
    height: 100%;
    border-top: 4px solid var(--orange);
    border-left: 4px solid var(--orange);
    border-bottom: 4px solid var(--orange);
    padding-left: 1rem;
    color: var(--orange);

}

.contactText {
    text-align: left;
}

.whoami1 {
    width: 60%;
    height: auto;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .aboutContainer {
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   

    .aboutRight {
        width: 70vw;
        height: auto;
        border: 4px solid var(--orange);
    }

    .aboutLeft {
        width: 80vw;
    }

    .contactText {
        width: 70vw;
    }

    .whoami1 {
        width: 90%;
        height: auto;
        text-align: left;
    }
}