.contentContainer {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.technologies {
    width: 100%;
    height: 10vh;
    /* background: var(--orange); */
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js {
    background: url('../../images/jsImage') no-repeat;
}
.react {
    background: url('../../images/reactIcon') no-repeat;
}
.api {
    background: url('../../images/api') no-repeat;
}
.styledC {
    background: url('../../images/styledComponents') no-repeat;
}
.py {
    background: url('../../images/pythonIcon') no-repeat;
}
.node {
    background: url('../../images/nodeJs') no-repeat;
}
.html {
    background: url('../../images/html') no-repeat;
}
.css {
    background: url('../../images/css') no-repeat;
}
.node {
    background: url('../../images/nodeJs') no-repeat;
}

.iconTip {
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    /* background-color: var(--orange); */
    /* visibility: hidden; */

}

.iconTipText {
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    width: auto;
    height: 1rem;
    background-color: var(--orange);
    visibility: hidden;
    position: relative;
    top:-5px;


}

.icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    animation: IconShuffleLeft 9s infinite;
    margin-right: 1rem;
}

.shuffleToLeft {
    animation: ShuffleLeft 3s;
}

.bText {
    visibility: hidden;
}


/* .:hover {
    animation-play-state: paused;
} */

@keyframes ShuffleLeft {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0px);

    }
}

@keyframes IconShuffleLeft {
    0% {
        transform: translateX(70vw);
    }
    100% {
        transform: translateX(-70vw);

    }
}

@keyframes ShuffleToRight {
    0% {
        opacity:0;
        transform: translateX(-2000px);
        opacity:0;

    }
    100% {
        transform: translateX(0%);
        opacity:1;

    }
}

@keyframes GrowIn {
    0% {
       transform: scale(0%)
    }
    100% {
       transform: scale(100%)
    }
}

.devTitle {
    color: var(--orange);
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.lightGrey {
    color: lightGrey;
}

.topTitle {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-bottom: 10px;
}

.topTitle > h1, .topTitle > h2 {
    margin: 0px;
} 

.bioContainer {
    color: white;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}


.bioText {
    width: 65%;
    height: auto;
    font-size: 0.9rem;
    padding: 5px;
    background-color: var(--orange);
    border-radius: 15px;
    animation: ShuffleToRight 3s;
    overflow: hidden;
    border: 4px solid white;

}

.bioText > p, .bioText > ul > li {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

.imageContainer {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconTipText {
    color: #fff;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url('../../images/profilePic') no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    border: 2px solid white;
    animation: GrowIn 3s;
}

@media only screen and (max-width: 650px) {
    .bioContainer {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .topTitle {
        flex-direction: column;
    }

    .icon {
        animation: none;
    }

    .bioText {
        width: 90vw;
    }

    .image {
        width: 200px;
        height: 200px;
    }

    .iconTipText {
        top: -10px;
    }
}