.contentContainer {
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.technologies {
    width: 100%;
    height: 10vh;
    /* background: var(--orange); */
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-right: 3px solid var(--currentText);
    border-left: 3px solid var(--currentText);
    position: relative;
    z-index: 1;
}

.js {
    background: url('../../images/jsImage') no-repeat;
}
.react {
    background: url('../../images/reactIcon.ico') no-repeat;
}
.api {
    background: url('../../images/api') no-repeat;
}
.styledC {
    background: url('../../images/styledComponents') no-repeat;
}
.py {
    background: url('../../images/pythonIcon') no-repeat;
}
.node {
    background: url('../../images/nodeJs') no-repeat;
}
.html {
    background: url('../../images/html') no-repeat;
}
.css {
    background: url('../../images/css') no-repeat;
}
.node {
    background: url('../../images/nodeJs') no-repeat;
}

.iconTip {
    width: 90vw;
    height: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    /* background-color: var(--orange); */
    /* visibility: hidden; */

}

.iconTipText {
    border-radius: 15px 15px 5px 5px;
    padding: 10px;
    width: auto;
    height: 1.5rem;
    background-color: var(--orange);
    visibility: hidden;
    position: relative;
    z-index: 10;
    top:-5px;
    display: flex;
    justify-content: center;
    border: 2px solid white;



}

.icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    animation: IconShuffleLeft 10s ease-in-out infinite;
    animation-direction: alternate;
    margin-right: 1rem;
}

.shuffleToLeft {
    animation: ShuffleLeft 3s;
}

.bText {
    visibility: hidden;
}


/* .:hover {
    animation-play-state: paused;
} */

@keyframes ShuffleLeft {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0px);

    }
}

@keyframes IconShuffleLeft {
    0% {
        transform: translateX(63vw);
    }
    100% {
        transform: translateX(-63vw);

    }
}

@keyframes ShuffleToRight {
    0% {
        opacity:0;
        transform: translateX(-2000px);
        opacity:0;

    }
    100% {
        transform: translateX(0%);
        opacity:1;

    }
}

@keyframes GrowIn {
    0% {
       transform: scale(0%)
    }
    100% {
       transform: scale(100%)
    }
}

.devTitle {
    color: var(--orange);
    background-color: var(--currentText);
    padding: 10px;
    border-radius: 15px;
}

.lightGrey {
    color: lightGrey;
}

.topTitle {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-bottom: 10px;
}

.topTitle > h1, .topTitle > h2 {
    margin: 0px;
} 

.bioContainer {
    color: #FFFFFF;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.bioText {
    width: 65%;
    height: 100%;
    font-size: 0.9rem;
    padding: 5px;
    background-color: var(--orange);
    border-radius: 15px;
    animation: ShuffleToRight 3s;
    overflow: hidden;
    border: 4px solid var(--currentText);
    margin-top:2rem;
    

}

.bioText > p, .bioText > ul > li {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

.imageContainer {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 20px;

}

.iconTipText {
    color: var(--currentText);
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url('../../images/profilePic.jpg') no-repeat;
    background-size: cover;
    background-position: 0% 20%;
    border: 4px solid var(--currentText);
    animation: GrowIn 3s;
}

@media only screen and (max-width: 690px) {
    .bioContainer {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .topTitle {
        flex-direction: column;
    }

    .icon {
        animation: none;
    }

    .imageContainer {
        padding: 0px;
        margin: 0px;
    }

    .bioText {
        width: 80vw;
        margin-left: -10%;
        margin-top: 1rem;
    }

    .iconTipText {
        top: -10px;
    }

    .technologies {
        border: none;
    }
}