.App {
  text-align: center;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.routedPageContainer {
  width: 100%;
  height: auto;
}

.routedPageContainer > h1 {
  color: var(--orange)
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fullwidth {
  width: 100;
  height: auto;
}