.App {
  text-align: center;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.routedPageContainer {
  width: 100vw;
  height: auto;
  
}

.routedPageContainer > h1 {
  color: white;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fullwidth {
  width: 100;
  height: auto;
}

.emailText {
  position: absolute;
  left: -1000px;
  top: -100px;
}

.darkMode {
  background-color: #121212;
  color: white;
  border-color: white;
}

.lightMode {
  background-color: white;
  color: #121212;
  border-color: #121212;
}

