body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Quicksand', 'Pacifico', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #2c394B;
   */
   /* background-image: url('./images/bkgrnd2.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 20%; */
   background-color: var(--currentBG);
}

body {
  background-color: #f6f6f6;
  transition: background-color .3s;
}
body[light-mode=dark] {
  background-color: #141516;
  color: #ced4e2;
}
body[light-mode="dark"] .light-mode-button span:nth-child(1){
  background-color: #ced4e2;
  color: #141516;
}
body[light-mode=dark] .light-mode-button span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.orangeColor {
  color: #FF4C29;
}

:root {
  --orange : #3479A5;
  --mantisGreen: #7BCF7A;
  --currentBG: #121212;
  --currentText: #FFFFFF;
}

.codeColor_blue {
  color: darkblue;
}

.codeColor_lightBlue {
  color: rgb(31, 131, 164);
}

.codeColor_white {
  color: white;
}

.codeColor_orange {
  color: rgb(235, 175, 65);
}

.codeColor_lightOrange {
  color:rgb(220, 150, 20)
}