.navBarParent {
    display: flex;
    justify-content:space-between;
    /* align-items:center; */
}

.navLogo {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px;
}

.navLogo > p {
    font-size: 1.5rem;
    color: white;
}

.socialLinks {
    width:auto;
    height: auto;
    display: flex;
    color: white;
    align-items: center;
}

.socialLinks > img {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    
}

.logo {
    width: 3.5rem;
    height: 2.5rem;
    background: url('../../../public/bishop.png');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.navBarParent > .navLinkContainer > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin-right: 1rem;
    /* justify-content: ; */
}

.navLink{
    text-decoration: none;
    color: #ffffff;
    padding: .8rem;
}

.activeBtn {
    background: white;
    border-radius: 25px;
    color: black;
    pointer-events: none;
    position: relative;
    top: 10px;
}

.hamburgMenu {
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-right: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    z-index: 5;


}

.menuLine {
    width: 100%;
    border: 1px solid white;
    margin: 2px;
}

.navBarParent > .navLinkContainer {
    z-index: 5;
}

.cover {
    display: none;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    position: absolute;
    background: grey;
    z-index: 2;
    top: 0px;
    right: 0px;
}



.navBarParent > .navLinkContainer > ul > li > .navLink {
    align-self: center;
}


@media only screen and (min-width: 760px) {
    .hamburgMenu {
        position: absolute;
        top: -50px;
    }

    .navBarParent > .navLinkContainer > ul > li > .navLink:hover {
        background-color: var(--orange);
        border-radius: 25px;
        position: relative;
        top: 10px;
    
    }

    .navBarParent > .navLinkContainer > ul{
        display: flex;
    }

    .socialLinks > img:hover {
        position: relative;
        top: 10px;
        
    }
}

@media only screen and (max-width: 759px) {
    .navBarParent > .navLinkContainer {
        position: absolute;
        margin-top: 0px;
        right: -30%;
        height: 100vh;
        display:none;
    }

    .socialLinks {
        display: none;
        align-items: center;
        position: absolute;
        right: 7%;
        top: 230px;
        flex-direction: column;
        z-index: 10;
    }

    .socialLinks > img {
        width: 50px;
        height: 50px;
        z-index: 3;

    }
    .navBarParent > .navLinkContainer > ul {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-left: 0px;
        margin-top: 0px;
        padding-top: 4rem;
        justify-content: flex-start;
    }

    .navBarParent > .navLinkContainer > ul > li {
        width: 100%;
        margin: 10px;
        text-align: left;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .navBarParent > .navLinkContainer > ul > li > .navLink:hover {
        position: relative;
        background-color: none !important;
        left: 10px;
    
    }

    .navLogo > p{
        font-size: 20px;
    }

    .hamburgMenu {
        display: flex;   
    }

    .menuLine {
        border: 1px solid white;
    }




}